---

---

<html lang="es">
  <head>
    <meta charset="utf-8" />

    <script is:inline>
      const locale = navigator.language.toLowerCase();

      if (locale.startsWith("en")) {
        location.replace("/es");
      } else {
        location.replace("/es");
      }
    </script>
  </head>
  <body></body>
</html>
