---

---

<html lang="es">
  <head>
    <meta charset="utf-8" />

    <script is:inline>
      const lang = navigator.language.startsWith("en") ? "en" : "es";

      if (location.pathname === "/") {
        location.replace(`/${lang}`);
      }
    </script>
  </head>
  <body></body>
</html>
