---
const base = import.meta.env.BASE_URL;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
  </head>

  <body data-base={base}>
    <script is:inline>
      const base = document.body.dataset.base;
      const lang = navigator.language.startsWith("en") ? "en" : "es";

      const path = location.pathname.replace(/index\.html$/, "");

      if (path === base || path === base + "/") {
        location.replace(base + lang);
      }
    </script>
  </body>
</html>
