---
import AppIcon from "../../shared/AppIcon.astro";
import { Icons } from "../../shared/icons";
import { getAssetPath } from "../../shared/utils/get-asset-path";

interface Props {
  href: string;
  icon: keyof typeof Icons;
  label?: string;
  external?: boolean;
  download?: string;
}

const {
  href,
  icon,
  label,
  external = true,
  download = false,
} = Astro.props as Props;
---

<a
  href={getAssetPath(href)}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener noreferrer" : undefined}
  download={download ? download : undefined}
  aria-label={label}
  class="inline-flex items-center gap-2 rounded-full border border-zinc-700/50 bg-white/5 px-4 py-3 font-semibold backdrop-blur-md transition-all duration-300 hover:-translate-y-1 hover:border-orange-400 hover:text-orange-400 hover:shadow-lg"
>
  <AppIcon name={icon} class="h-5 w-5" />

  {label && <span>{label}</span>}
</a>
